@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    @using ekitchen.Entidades.EF
    @model List<Calificacione>

    if (@HttpContextAccessor.HttpContext.Session.GetInt32("Perfil") == 2)
    {
        Layout = "_LayoutComensal";

    }
}
<h1 id="login-title" class="text-center">Comentarios Realizados</h1>
<div class="alert-success">@TempData["ComentarioCreado"]</div>
<br />
<div class="container">
    <div class="row">

        @if(Model.Count()>0)
        {
            @foreach (var comentarios in Model)
            {

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            @foreach (var eventos in ViewBag.Evento)
                            {
                                @if (eventos.IdEvento == comentarios.IdEvento)
                                {
                                    @eventos.Nombre
                                }

                            }
                        </h5>
                        <p class="card-text">calificacion: @comentarios.Calificacion </p>
                        <p class="card-text">comentario: @comentarios.Comentarios </p>
                    </div>
                </div>

            }
        }
        @if (Model.Count() == 0)
        {
            <p class="alert alert-warning">Aun no se agregaron comentarios</p>
        }

    </div>
</div>